<main class="main-container">
  <mat-card>
    <h2 mat-card-title>These are your filters</h2>

    <ng-container *ngIf="filtersLoading$ | async; else data">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="progress"
        [theme]="{
          'background-color': '#3f51b5',
          height: '56px',
          'border-radius': 0
        }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        count="4"
        appearance="line"
        animation="progress"
        [theme]="{
          'background-color': 'rgba(grey, 0.7)',
          height: '50px',
          'border-radius': 0
        }"
      ></ngx-skeleton-loader>
    </ng-container>

    <ng-template #data>
      <ng-container *ngIf="filters$ | async as filters">
        <time-tracker-nx-filter-table
          *ngIf="filters.length; else noFilters"
          [filters]="filters"
        >
        </time-tracker-nx-filter-table>

        <ng-template #noFilters>
          <p>You dont have any filters saved yet.</p>
        </ng-template>
      </ng-container>
    </ng-template>

    <button mat-raised-button color="primary" (click)="openDialog()">
      Create new filter
    </button>
  </mat-card>
</main>
