table {
  width: 100%;
  margin-bottom: 2rem;

  th.days {
    text-align: center;
  }

  td {
    min-width: 65px;
  }
}

::ng-deep .issue-title-tooltip {
  font-size: 14px;
}

::ng-deep .mat-paginator-page-size{
  display: none !important;
}

::ng-deep .mat-paginator-range-label{
  display: none !important;
}

.issue-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  mat-icon {
    display: none;
    margin-left: 5px;
  }

  &:hover {
    mat-icon {
      display: inline-block;
      cursor: pointer;
    }
  }
}

::ng-deep .mat-sort-header-sorted {
  color: white; /*change color of header*/
}

::ng-deep .mat-sort-header-arrow {
  color: white; /*change color of arrow*/
}

.bold {
  font-weight: bold;
}
