<table mat-table [dataSource]="this.issues">

  <ng-container matColumnDef="namespace">
    <th mat-header-cell *matHeaderCellDef> Namespace </th>
    <td mat-cell *matCellDef="let issue"> {{issue.glNamespace}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Project </th>
    <td mat-cell *matCellDef="let issue"> {{issue.glProject}} </td>
  </ng-container>

  <ng-container matColumnDef="milestone">
    <th mat-header-cell *matHeaderCellDef> Milestone </th>
    <td mat-cell *matCellDef="let issue"> {{issue.milestone}} </td>
  </ng-container>

  <ng-container matColumnDef="issue">
    <th mat-header-cell *matHeaderCellDef> Issue </th>
    <td mat-cell *matCellDef="let issue"> {{issue.title}} </td>
  </ng-container>

  <ng-container *ngIf="daysRange.length">
    <ng-container *ngFor="let day of daysRange">
      <!-- <time-tracker-nx-day-column [day]="day"></time-tracker-nx-day-column> -->
      <ng-container matColumnDef="{{ day }}">
        <th mat-header-cell *matHeaderCellDef> {{ day }} </th>
        <td mat-cell *matCellDef="let issue"> datos... </td>
      </ng-container>
    </ng-container>
  </ng-container>
  
  
  <!-- <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let filter">

      <button mat-icon-button aria-label="Edit filter" (click)="openUpdateFilterDialog(filter)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Delete filter" (click)="onDeleteFilter(filter.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>

    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
