<main class="main-container">
  <mat-card>
    <p>
      These are your git credentials. If you haven't filled in your token, click
      on the edit button.
    </p>
    <ng-container *ngIf="instances$ | async as instances; else elseTemplate">
      <time-tracker-nx-instance-table [instances]="instances"></time-tracker-nx-instance-table>
    </ng-container>
  </mat-card>
</main>

<ng-template #elseTemplate>
  <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
  'background-color': '#3f51b5',
  height: '56px',
  'border-radius': 0
}"></ngx-skeleton-loader>
  <ngx-skeleton-loader count="2" appearance="line" animation="progress" [theme]="{
  'background-color': 'rgba(grey, 0.7)',
  height: '50px',
  'border-radius': 0
}"></ngx-skeleton-loader>
</ng-template>
