<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button [hidden]="!(user$ | async)">
      <mat-icon (click)="sidebarmenu ? sidebarmenu.toggle() : ''">menu</mat-icon>
    </button>

    <h2>Time Tracker <span *ngIf="(user$ | async) as user">- {{ user?.username }}</span></h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav [hidden]="!(user$ | async)" #sidebarmenu>
    <mat-nav-list class="nav-list">

      <a mat-list-item *ngFor="let item of menuItems" (click)="sidebarmenu.toggle()" [routerLink]="[item.path]"
        routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">{{ item.label }}</a>

      <a mat-list-item (click)="sidebarmenu.toggle();logout()" mat-list-item>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
