<mat-card class="form-card">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" id="username" placeholder="Username" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input [type]="hidePass ? 'password' : 'text'" matInput formControlName="password" id="password"
        placeholder="Password" />
      <span mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass">
        <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>2FA Code</mat-label>
      <input type="text" matInput formControlName="code" id="code" placeholder="2FA Code" />
    </mat-form-field>

    <div class="button-group">
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
        Submit
      </button>
      <button mat-raised-button (click)="onClear()">Clear</button>
    </div>

    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </form>

</mat-card>
